<!DOCTYPE html> 
<html lang="en">

<head>
  <!-- Required meta tags -->  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>E-Voting</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/faces/scaled_logo.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:/partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a href="dashboard.html"><img src="/images/faces/scaled_logo.png" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="/dashboard.html"></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
       
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <div class="nav-profile-img">
                <img src="/images/faces/scaled_logo.png" alt="image">
                <span class="availability-status online"></span>             
              </div>
              <div class="nav-profile-text">
                <p class="mb-1 text-black">CIPL</p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/c/<%= name %>/logout">
                <i class="mdi mdi-logout mr-2 text-primary"></i>
                Signout
              </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block full-screen-link">
            <a class="nav-link">
              <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:/partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img src="/images/faces/scaled_logo.png" alt="profile">
                <span class="login-status online"></span> <!--change to offline or busy as needed-->              
              </div>
              <div class="nav-profile-text d-flex flex-column">
                <span class="font-weight-bold mb-2">CIPL</span>
                <span class="text-secondary text-small">Admin</span>
              </div>
              <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
          </li>
          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="/<%= name %>/companyDashboard">
              <span class="menu-title">Dashboard</span>
              <i class="mdi mdi-home menu-icon"></i>
            </a> -->
          <!-- </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/c/<%= name %>" >
              <span class="menu-title">User Management</span>
              <!-- <i class="menu-arrow"></i> -->
              <i class="mdi mdi-account-multiple menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/c/<%= name %>/add">
              <span class="menu-title">Add New User</span>
              <i class="mdi mdi-account-plus menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="/c/<%= name %>/edit">
                  <span class="menu-title">Edit User</span>
                  <i class="mdi mdi-pencil menu-icon"></i>
                </a>
                <hr width="100%">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/voting/<%= name %>">
                  <span class="menu-title">Vote Management</span>
                  <i class="mdi mdi-bookmark-check menu-icon"></i>
                </a>
                
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/voting/<%= name %>/add">
                    <span >Add New Vote</span>
                    <i class="mdi mdi-plus menu-icon"></i>
                  </a>
                  
                </li>
                
                <li class="nav-item">
                        <a class="nav-link" href="/voting/<%= name %>/edit">
                          <span class="menu-title">Edit Vote</span>
                          <i class="mdi mdi-pencil menu-icon"></i>
                        </a>
                        <hr width="100%">
                </li>
                
        </ul>
      </nav>

      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                  <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-account-plus"></i>                 
                  </span>
                  Add New User
                </h3>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add a new user</h4>
                  <form id="frmUploader" enctype="multipart/form-data" action="/c/<%= name %>/add" method="post">
                  <!-- <form class="forms-sample" action="/c/<%= name %>/add" method="POST"> -->
                    <!-- <form id="frmUploader" enctype="multipart/form-data" action="/c/<%= name %>/add" method="post"> -->
                    <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label " name="userName">Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputUsername2" name="userName" placeholder="Username" required>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <label for="exampleInputEmail2" class="col-sm-3 col-form-label"  name="userEmail">Email</label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="userEmail" placeholder="Email" name="userEmail" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputMobile" class="col-sm-3 col-form-label" name="userPhoneNumber">Mobile</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="userPhoneNumber" name="userPhoneNumber" placeholder="Mobile number" required pattern="[0-9]{10}" title="Enter 10 digit phone number">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputPassword2" class="col-sm-3 col-form-label" name="userPassword">Password</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="userPassword" placeholder="Password" name="userPassword" required>
                      </div>
                    </div>
                    
                    <div class="form-group row"> 
                        <div class="input-group col-xs-12">
                        <label for="exampleInputMobile" id="userImage" class="col-sm-3 col-form-label" name="userImage">Image</label>
                              <input type="file" name="imgUploader" id="imgUploader" multiple class="form-control file-upload-info"  required />
                              
                
                        </div>
                      </div>
                      
                      <input type="submit" class="btn btn-gradient-primary " name="submit" id="btnSubmit" value="Submit" />
                    <!-- <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button> -->
                    
                  </form>
                  
                </div>
              </div>
        </div>
    

        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Cognoscente Invnted Pvt. Ltd. <img src="/images/faces/scaled_logo.png" width="16px" height="20px"/></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/file-upload.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
