<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Voting</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png" />
    <title>
        Edit Company
    </title>
</head>

<body>

    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              <a href="dashboard.html"><img src="/images/faces/scaled_logo.png" alt="logo"/></a>
              <a class="navbar-brand brand-logo-mini" href="/dashboard.html"><img src="/images/logo-mini.svg" alt="logo"/></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
            
              <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <div class="nav-profile-img">
                      <img src="/images/faces/scaled_logo.png" alt="image">
                      <span class="availability-status online"></span>             
                    </div>
                    <div class="nav-profile-text">
                      <p class="mb-1 text-black">CIPL</p>
                    </div>
                  </a>
                  <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/c/<%= name %>/logout">
                      <i class="mdi mdi-logout mr-2 text-primary"></i>
                      Signout
                    </a>
                  </div>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                  <a class="nav-link">
                    <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                  </a>
                </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
              </button>
            </div>
          </nav>
          <!-- partial -->
          <div class="container-fluid page-body-wrapper">
            <!-- partial:/partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
              <ul class="nav">
                <li class="nav-item nav-profile">
                  <a href="#" class="nav-link">
                    <div class="nav-profile-image">
                      <img src="/images/faces/scaled_logo.png" alt="profile">
                      <span class="login-status online"></span> <!--change to offline or busy as needed-->              
                    </div>
                    <div class="nav-profile-text d-flex flex-column">
                      <span class="font-weight-bold mb-2">CIPL</span>
                      <span class="text-secondary text-small">Admin</span>
                    </div>
                    <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <!-- <a class="nav-link" href="/<%= name %>/companyDashboard">
                    <span class="menu-title">Dashboard</span>
                    <i class="mdi mdi-home menu-icon"></i>
                  </a> -->
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="/c/<%= name %>"  >
                    <span class="menu-title" >User Management</span>
                    <!-- <i class="menu-arrow"></i> -->
                    <i class="mdi mdi-account-multiple menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/c/<%= name %>/add">
                    <span >Add New User</span>
                    <i class="mdi mdi-account-plus menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item ">
                      <a class="nav-link" href="/c/<%= name %>/edit">
                        <span class="menu-title">Edit User</span>
                        <i class="mdi mdi-pencil menu-icon"></i>
                      </a>
                      <hr width="100%">
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/voting/<%= name %>">
                        <span >Vote Management</span>
                        <i class="mdi mdi-bookmark-check menu-icon"></i>
                      </a>
                      
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/voting/<%= name %>/add">
                          <span >Add New Vote</span>
                          <i class="mdi mdi-plus menu-icon"></i>
                        </a>
                        
                      </li>
                      
                      <li class="nav-item">
                              <a class="nav-link" href="/voting/<%= name %>/edit">
                                <span >Edit Vote</span>
                                <i class="mdi mdi-pencil menu-icon"></i>
                              </a>
                              <hr width="100%">
                      </li>
                      
              </ul>
            </nav>
        <!-- partial -->
        
            <div class="main-panel">
                <div class="content-wrapper" style="background-color: #e0f6f8;">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-info text-white mr-2">
                                <i class="mdi mdi-home"></i>
                            </span>
                            Dashboard
                        </h3>
                    </div>
                    <div class="page-header">
                        <div class="container">
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">User details</h4>
                                        <p class="card-description">
                                            Basic informations
                                        </p>
                                                
                                        <form class="forms-sample" action="/c/<%= name %>/edit/<%= Users._id %>"
                                            class="btn btn-gradient-info mr-2" method="POST">
                                            <div class="form-group">
                                                <label for="exampleInputName1" name="userName">User Name</label>
                                                <input type="text" class="form-control" id="exampleInputName1"
                                                    placeholder="Name" value="<%= Users.userName %>"
                                                     disabled name="userName">

                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail3" name="userEmail">User Email address</label>
                                                <input type="email" class="form-control" id="userEmail"
                                                    placeholder="Email" value="<%= Users.userEmail %>"
                                                    name="userEmail" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail3" name="userPassword">Password</label>
                                                <input type="password" class="form-control" id="userPassword"
                                                    placeholder="Password" value="<%= Users.userPassword %>"
                                                    name="userPassword" required>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="exampleInputPassword4">Phone Number</label>
                                                <input type="Number" class="form-control" id="userPhoneNumber"
                                                    placeholder="Phone no" value="<%= Users.userPhoneNumber %>"
                                                    name="userPhoneNumber" required pattern="[0-9]{10}" title="Enter 10 digit phone number">
                                            </div>
                                            
                                            
                                         
                                                
                                                
                                                <!-- <button type="submit" class="btn btn-gradient-info mr-2"></button> -->

                                                <button class="btn btn-gradient-info mr-2">Submit</button>

                                                <!-- <button type="submit" onclick="myfunc1()" class="btn btn-gradient-info mr-2">Delete</button> -->
                                                <!-- <a href="https://www.google.com" -->
                                                    <!-- class="btn btn-gradient-info mr-2">Edit and Submit</a> -->
                                                <button class="btn btn-light">Cancel</button>
                                        </form>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer" style="background-color: #e0f6f8;">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright ©
                        2019. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Cognoscente Invnted Private
                        Limited
                        <img style="height:20px; width:20px;" src="\images\sahi wala.png">
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <script src="/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/js/file-upload.js"></script>
    <!-- End custom js for this page-->

    <script>
        function myfunc() {
            window.open("https://www.google.com");
        }
        function myfunc1() {
            window.open("https://www.facebook.com", target = "_self");
        }
    </script>
</body>

</html>